---
import Layout from '../../../layouts/Layout.astro'
import Hero from '../../../components/promo/Hero/hero.astro';
import PricingChange from '../../../components/promo/Pricing/pricingChange';
import ContactForm from '../../../components/promo/ContactForm/contactForm.astro';
import Footer from '../../../components/main/Footer/Footer.astro';
import Why from '../../../components/promo/why/why.astro';
import FinalCall from '../../../components/promo/FinalCall/finalCall.astro';
import HowItWorks from '../../../components/promo/HowItWorks/howItWorks.astro';
import AdvancedServices from '../../../components/promo/AdvancedServices/advancedServices.astro';
import Header from '../../../components/main/Header/Header.astro';
const basePath = Astro.url.pathname

---
<Layout title="Code&Growth | Arquitectos del Crecimiento Digital">
	<main>
		<Hero />
		<FinalCall/>
		<PricingChange client:only="react" basePath={basePath}  />
		<Why />
		<HowItWorks />
		<AdvancedServices />
		<Footer />
	</main>
		
</Layout>