/* Estilo para el contenedor principal */
html,
body {
  padding: 0;
  margin: 0;
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* vh (viewport height) reemplaza a h-screen */
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Fondo con gradiente animado */

/* Contenedor para centrar el contenido */
.contentWrapper {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* La tarjeta de agradecimiento */
.thankYouCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
/* Título principal */
.title {
  font-size: 3rem; /* 48px, text-5xl */
  font-weight: 700; /* bold */
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Reemplaza a drop-shadow-lg */
  margin-bottom: 1rem; /* 16px, mb-4 */
}
.highlight {
  color: var(--color-accent);
}
.lottie {
  width: 2%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
/* Media query para hacer el título más grande en pantallas medianas y superiores */
@media (min-width: 768px) {
  .title {
    font-size: 3.75rem; /* 60px, md:text-6xl */
  }
}

/* Subtítulo o párrafo */
.subtitle {
  text-align: center;
  font-size: 1.125rem; /* 18px, text-lg */
  color: #e4e4e7; /* color zinc-200 */
  margin-bottom: 2rem; /* 32px, mb-8 */
}

/* Botón para volver al inicio */
.homeButton {
  background-color: var(--color-accent);
  color: var(--color-dark);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  align-self: center;
}

.homeButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 198, 255, 0.2);
}
@media screen and (max-width: 900px) {
  .mainContainer {
    width: 100%;
    height: 90vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}
