---
import Layout from '../../layouts/Layout.astro'
import Hero from '../../components/promo/Hero/hero.astro';
import PricingChange from '../../components/promo/Pricing/pricingChange';
import Footer from '../../components/main/Footer/Footer.astro';
import Why from '../../components/promo/why/why.astro';
import HowItWorks from '../../components/promo/HowItWorks/howItWorks.astro';
import AdvancedServices from '../../components/promo/AdvancedServices/advancedServices.astro';
import Faq from '../../components/main/Faq/Faq.astro';
import Prueba from '../../components/Prueba.astro';
const basePath = Astro.url.pathname

---
<Layout title="Cheap websites for your business">
	<main>
		<Hero />
		<Prueba/>
		<PricingChange client:only="react" basePath={basePath}  />
		<Why />
		<HowItWorks />
		<AdvancedServices />
		<Faq />
		<Footer />
	</main>
		
</Layout>