---
import styles from './Cta.module.css';
---
<section id="cta" class={styles.cta}>
    <div class="container">
        <div class={styles.content}>
            <h2>¿Listo para construir el futuro?</h2>
            <p>Hablemos de tu visión. Juntos, podemos diseñar la arquitectura perfecta para tu éxito digital.</p>
            <a href="mailto:hola@codeandgrowth.com" class={styles.ctaButton}>Contáctanos Ahora</a>
        </div>
    </div>
</section>