---
import styles from './Philosophy.module.css';
import { getLangFromUrl, useTranslations } from "../../i18n/utils"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="philosophy" class:list={['container', styles.philosophy]}>
    <h2>{t('philosophy.title')}</h2>
    <p class={styles.subtitle}>{t('philosophy.subtitle')}</p>
    <div class={styles.grid}>
        <div class={styles.card}>
            <h3>{t('philosophy.card1_title')}</h3>
            <p>{t('philosophy.card1_text')}</p>
        </div>
        <div class={styles.card}>
            <h3>{t('philosophy.card2_title')}</h3>
            <p>{t('philosophy.card2_text')}</p>
        </div>
    </div>
</section>