---
import Layout from '../../../layouts/LayoutEcommerce.astro';
import Contact from '../../../components/ecommerce/contact/Contac.astro';
---

<Layout title="Contacto">
  <main class="main">
    <Contact />
  </main>
</Layout>

<style>
  .main{
    padding-top: 50px;
  }
</style>
