---
import Layout from '../../../layouts/LayoutEcommerce.astro';
import AboutUs from '../../../components/ecommerce/aboutUs/AboutUs.astro';
---

<Layout title="Sobre Nosotros">
  <main class="main">
    <AboutUs />
  </main>
</Layout>

<style>
  .main{
    padding-top: 50px;
  }
</style>
